<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVP-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>090D00CD1CC5840600BE6454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090D00E11CC5840600BE6454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090D00EC1CC5840600BE6454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
